@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
*{
  box-sizing: border-box;
  z-index:1;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3rem;
  background-color: #f9f9f9;
}

.main section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 4em;
}
.section-main{
  display: flex;
  flex-wrap: nowrap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  width: 100%;
  padding: 0 2em;
}
.logo{
  font-weight: 700;
}
header ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
header ul li {
  text-decoration: none;
  list-style: none;
  color: #4F5665;
  font-size: 14px;
  cursor: pointer;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .signin{
  font-weight: 500;
  margin: 0 1em;
  cursor: pointer;
}

.btn {
  background-color: #F53838;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  border-radius: 20px;
  width: 120px;
}
.secondary {
  color: #fff;
  border: 1.5px solid #fff;
  background-color: transparent;
  font-size: 14px;
  padding: 8px;
}
.secondary:hover{
  background-color: #fff;
  color: #F53855;
}
.action {
  width: 180px;
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 10px 16px 0px rgba(245, 56, 56, 0.35);
}
.action:hover{
  background-color: rgba(245, 56, 56, 0.9);
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.left .headline {
  display: flex;
  flex-direction: column;
}
.left .headline .subtitle {
  font-size: 14px;
  color: #4F5665;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.right img{
  width: 95%;
  height: 95%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 7rem;
  margin: 5rem 0 0 0;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 10px 16px 0px rgba(13,16,37, 0.1);
  background-color: #f9f9f9;
}
.info .detail {
  display: flex;
}
.info .detail img{
  width: 50px;
  height: 50px;
}
.info .detail .text{
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.info .detail .text .title{
  font-size: 20px;
  margin: 0;
}
.info .detail .text .subtitle{
  font-size: 13px;
  margin: 0mm;
}
.sep {
  width: 2px;
  height: 60%;
  background-color: #EEEFF2;
  border-radius: 20px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features .ilust{
  width: 45%;
  height: 45%;
}
.features .desc {
  display: flex;
  flex-direction: column;
}
.features .desc .desc-title{
  font-size: 28px;
  font-weight: 700;
  color: #0B132A;
  margin: 1rem 0;
}
.features .desc .desc-subtitle{
  color: #4F5665;
}
.features .desc ul{
  display: flex;
  flex-direction: column;
}
.features .desc ul li{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0.2rem;
  font-size: 14px;
  color: #4F5665;
}
.features .desc ul li img{
  margin-right: 0.5rem;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 20rem;
  background-color: #f3f3f3;
  margin-top: 10rem;
  padding: 2rem;
}
.news{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 60%;
  height: 10rem;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  background-color: #fff;
  z-index: 2;
  top: -3rem;
  padding: 2rem 0 2rem 3rem;
}
.news .left{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
.news .left .title{
  font-size: 1.4em;
  color: #0B132A;
  margin-bottom: 10px;
}
.news .left .subtitle{
  font-size: 14px;
  color: #4F5665;
  margin: 0;
}
.news .right{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-details{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 80%;
  top: -1rem;
}
.logo-info{
  display: flex;
  flex-direction: column;
}
.logo-info span{
  width: 20rem;
  margin: 1rem 0;
}
.logo-info .cop{
  color: #AFB5C0;
  font-size: 14px;
  margin-top: 0;
}
.links{
  display: flex;
}
.links ul li{
  list-style: none;
  font-size: 14px;
  margin-bottom: 10px;
}
.links ul .bold{
  font-weight: 700;
  font-size: 16px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 5em;
  padding: 1em;
  border: 2px solid #DDD;
  border-radius: 10px;
  margin: 0.5rem;
}
.card .card-header{
  display: flex;
  height: 50%;
  margin-bottom: 10px;
}
.card .card-header .card-info{
  display: flex;
  flex-direction: column;
}
.card .card-header img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid #DDDDDD;
}
.card .card-header .card-name{
  font-weight: 700;
}
.card .card-header .card-function{
  color: #4F5665;
  font-size: 12px;
}
.card .card-body{
  display: flex;
  height: 70%;
  color: #0B132A;
  font-size: 14px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.team .team-title{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 15em;
  margin: 1rem 0;
}
.team .team-subtitle{
  color: #4F5665;
  text-align: center;
  font-size: 16px;
  width: 35em;
}
.card-stack{
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.bg{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.9;
}